body{
    font-family: "Roboto", sans-serif;
}
:root {
    --dark-color: #19283f;
    --green-color: #33d1cc;
    --section-color: #eff7fa;
}
p {
    font-size: 11px !important;
}
.navbar{
    background-color: var(--dark-color);
}
.nav-link {
    color: var(--section-color);
}
.nav-link:focus,.nav-link:hover,.nav-link.active{
    color: var(--green-color) !important;
}
.search {
    color: var(--green-color);
}
.search::before {
    content: "";
    border-left: 1px solid;
    padding-left: 10px;
}
.loading {
    background-color: var(--dark-color);
    height: 100vh;
}
.title-sec::after {
    content: "";
    border-bottom: 2px solid var(--green-color);
    width: 80px;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.icon {
    color: var(--green-color);
}
.number-sec {
    font-size: 150px;
    color: rgb(0, 0, 0,.1);
}
.icoon {
    left: -12%;
}
.our-ob,.Team {
    background-color: var(--section-color);
}
li {
    cursor: pointer;
}
.our-sec li:hover,.our-sec li:focus {
    color: red;
}
.box {
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.card {
    border: 5px solid white;
    height: 100%;
}
.ani {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #33d1ccb5;
    right: 110%;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.box:hover .ani{
    right: 0px;
}
.start-pro {
    background-color: var(--dark-color);
}